.Login {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  width: 20em;
  background-color: #181818;
  border-radius: 15px;
  padding: 1em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lkiLogo {
  position: absolute;
  bottom: 15px;
  left: 0px;
  width: 5%;
  height: 5%;
}

.h1 {
  color: white;
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.h2 {
  margin: 0;
}

.input[type=text] {
  width: 100%;
  padding: 1em;
  border-style: none;
  border-radius: 12px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: rgb(118, 118, 118);
  color: white;
}

.input[type=email] {
  width: calc(100% - 2em);
  padding: 1em;
  border-style: none;
  border-radius: 12px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.input[type=password] {
  width: 100%;
  padding: 1em;
  border-style: none;
  border-radius: 12px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: rgb(118, 118, 118);
  color: white;
}

.input[type=password]:disabled {
  background: rgb(44, 44, 44);
  color: #232323;
}

.input::placeholder {
  color: white;
}

.input[type=password]::placeholder:disabled {
  color: #232323;
}

.input[type=file] {
  width: 100%;
  border-style: none;
  border-radius: 12px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: rgb(118, 118, 118);
  color: white;
  font-weight: bold;
}

.input::file-selector-button {
  width: 50%;
  padding: 1em;
  border-style: none;
  border-radius: 11px;
  margin: 0em;
  margin-right: 0.4em;
  background: rgb(89,131,255);
  background: linear-gradient(45deg, #00c3ff 16%, #0099ff 100%);
  color: white;
  font-weight: bold;
}

.input[type=submit] {
  width: 100%;
  padding: 1em;
  border-style: none;
  border-radius: 12px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: rgb(89,131,255);
  background: linear-gradient(45deg, #00c3ff 16%, #0099ff 100%);
  color: white;
  font-weight: bold;
}

.input[type=submit]:hover {
  background: rgb(69,101,195);
  background: linear-gradient(45deg, #00a2d3 16%, #0078c9 100%);
}

/* Tablet */
@media only screen and (max-width: 780px) {
  
}

/* Phone */
@media only screen and (max-width: 420px) {
  .Login {
      width: calc(100% - 5em);
  }
}